@using LMSGroupOne.Models.MainNavigation
@model ActivityModelView

<div class="container-fluid text-center">
    <h2>Activity:</h2>
    <H1>@Model.Name</H1>
    <h4>Starts: @Model.StartDate</h4>
    <h4>Ends: @Model.EndDate</h4>
    <p>@Model.Description</p>

    <h4>@Model.TypeName</h4>
    <p>@Model.TypeDescription</p>

    @if (User.IsInRole("Teacher"))
    {
        <button id="editButtonId" data-item-id=@Model.Id data-item-type=@((int)(NodeType.activity)) class="btn btn-outline-primary">Edit</button><br /><br />
        <button id="uploadÁctivityDocumentsButtonId" data-item-creates=@((int)(NodeType.fileactivity)) data-item-parent-id=@Model.Id data-item-extra="new" data-item-parent-type=@((int)(NodeType.activity)) data-item-id=@Model.Id data-item-type=@((int)(NodeType.fileactivity)) class="btn btn-outline-primary">Upload</button>
    }

</div>