@model AccountCreateViewModel
@inject IRoleSelectService roleSelectService
@inject ICourseSelectService courseSelectService


<div>    
    <form id="formId" asp-action="CreateTeacher">

        <input type="hidden" asp-for="Success"/>
        <input type="hidden" asp-for="Message"/>
        <input type="hidden" name="PersonReturnId" value="@(Model.PersonReturnId)"/>
        <input type="hidden" asp-for="ReturnId"/>
        <input type="hidden" asp-for="Role"/>
        <input type="hidden" name="Name" value="@(Model.FirstName+" "+Model.LastName)">
        

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
       
        @Model.Message
        
    </form>
</div>


@*<div class="modal fade" id="createAccountResult" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="aModalLabel">@ViewBag.UserName</h5></div>
            <div class="modal-body">Account was successfully created with role @ViewBag.Role</div>
            <div class="modal-footer">
                <a asp-controller="Account" asp-action="Create">Create another account</a>

                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#createAccountResult").modal('show');
            });
        </script>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function hideOnLoad() {
            $("#course").hide();
        });
        $(function () {
            $("#role").change(function () {
                if ($(this).val() == "Student") { $("#course").toggle(); }
                else if ($(this).val() == "Teacher") { $("#course-select")[0].selectedIndex = -1; $("#course").hide('slow'); }
            });
        });
    </script>
}*@