@model AssignmentDetailsViewModel

@{
    ViewData["Title"] = "Assignment details";
}

<div>
    <h3 class="sh2 mb-4" style="clear:both;">Assignment "@Html.DisplayFor(model => model.ActivityName)"</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsLate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsLate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentTimeStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DocumentTimeStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documents)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var item in Model.Documents)
                {
                    @Html.DisplayFor(model => item.Name)
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-primary float-lg-left" asp-controller="Assignment" asp-action="UploadActivityDocuments1" asp-route-id="@Model.ActivityId" role="button">Upload</a>
    <a class="btn btn-outline-primary float-lg-left" asp-controller="Assignment" asp-action="IndexStudent" role="button">My assignments</a>
</div>